body{
    font-family: 'Open Sans', sans-serif;
}

.header{
    margin-top: 3%;
    margin-left: auto;
}

p.our{
    max-width: 80%;
    margin: auto;
}

.section-1{
    margin-top: 10%;
}
.wrapper{
    width: 50%;
    height: auto;
    float: right;
}

.img-medic-2{
    margin-top: 150px;
}

.row .m-t-6{
    margin-top: 7rem;
}
.row .m-t-7{
    margin-top: 15rem;
    max-width: 25rem;
}

.text-1{
    max-width: 60%;
}
.images-group{
    width: 25%;
    margin-left: 3%;
    margin-top: 3%;
}
.text-group{
    max-width: 300px;
}